[Unit]
Description=reproxy edge proxy manager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/reproxy
EnvironmentFile=/opt/reproxy/deployments/env/reproxy.env
ExecStart=/opt/reproxy/bin/reproxy
Restart=on-failure
RestartSec=3
User=root
Group=root

[Install]
WantedBy=multi-user.target
